spring.application.name=university-management-system

server.port=
server.servlet.context-path=/api

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=


spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.open-in-view=true

# JWT Configuration
app.jwt-secret=
app.jwt-access-token-expiration=300000
app.jwt-refresh-token-expiration=604800000